.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  min-width: 98%;
}

thead {
  display: table;
  width: 100%;

  color: #707070;
  font-weight: bold;
  font-size: 15px;
  overflow: visible;
}

tbody {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: scroll;
}

th,
td {
  padding: 8px 0px 8px 0px;
  width: 5%;
  min-width: 100px;
  text-overflow: ellipsis;
  border-bottom: 1px solid #70707045;
  box-sizing: border-box;
  max-width: 130px;
  overflow: visible;
}

.alignLeft {
  text-align: left;
  justify-content: start;
  top: 0;
}
.alignRight {
  text-align: right;
  justify-content: end;
  padding-right: 15px;
  top: 0;
}

th {
  display: table-cell;

  white-space: nowrap;
  top: 0;
  z-index: 10;
}

button {
  font-size: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input[type="text"] {
  font-size: 14px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
}

.image-container {
  display: flex;

  background-color: #ffffff;
}
.filterIcon {
  filter: invert(44%) sepia(0%) saturate(1025%) hue-rotate(275deg)
    brightness(97%) contrast(81%);
}

.slider-container {
  position: absolute;
  background-color: #f7f7f7; /* Slightly different from white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 4px;
  z-index: 1000;
  width: 30%;
  height: 50%;
  border: 1px solid #ccc; /* Add a border */
  top: 0; /* Add this property */
  right: 40%; /* Add this property */ /* Add this property */
}

.slider-min-label,
.slider-max-label {
  font-size: 14px;
  font-weight: bold;
  display: flex;
}
.min-max {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 10px;
}
input[type="range"] {
  width: 100%;
  margin: 15px 0;
}
.slider-reset-button,
.slider-apply-button {
  font-size: 14px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}
.slider-reset-button{
  background-color: white;
  border: 1px solid #eaeaea;
  color: black;
}

.App_Logo{
  margin-right: 7px;
}

.slider-apply-button:hover {
  background-color: white;
  color:#007bff;
    border: 1px solid #136fed;

}
.slider-reset-button:hover{
  background-color: white;
  color: red;
  border: 1px solid red;

}
.close-filter {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
.headerData{
  color:black;
  font-size: 20px;
  align-items: center;
}

.filter-container{
 position: absolute;
  background-color: #f7f7f7; /* Slightly different from white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 4px;
  z-index: 1000;
  width: 30%;
  height: 50%;
  border: 1px solid #ccc; /* Add a border */
  top: 20%; /* Add this property */
  left:5%;
}
.close-filter-search{
   position: absolute;
  top: -5px;
  right: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.filter-select{

  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
}
.buttons-filter{
      display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: space-between;
    top: 70%;
    position: absolute;
    flex-direction: row-reverse;
}
/* @media screen and (min-width: 1025px) {
  table{
    width: 100%;
  }
  
} */
@media  screen and (max-width:700px) {
  .filter-container{
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
  }
  .slider-container{
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
  }
 
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #f7fafc;
}

::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 3px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
  display: none;
}
.hightlight {
  background-color: #f2f2f2;
}
